.git
.gitignore
.github
.env
.env.*
!.env.example

AIS_Data/
*.db
*.db-shm
*.db-wal
*.log

__pycache__/
*.py[cod]
venv/
.venv/

.vscode/
.idea/
*.md
!README.md

Dockerfile
.dockerignore
docker-compose.yml